<%= @post.user.name %>
<%= image_tag @post.image(:medium) %>
<%= @post.description %>
<div id="likes">Likes: <%= @post.likes.count %></div>
<%= render 'like_form' %>
<%= render 'comments/form' %>
<div id="comments">
	<%= render @post.comments %>
</div>