<%= link_to @post.user.name, user_path(@post.user) %> <br>
<%= image_tag @post.image(:medium) %> <br>
<%= @post.description %>
<div id="likes">Likes: <%= @post.likes.count %></div>
<%= render 'like_form' %>
<%= render 'comments/form' %>
<div id="comments">
	<%= render @post.comments %>
</div>